###################
# OS
###################
.DS_Store
Thumbs.db

###################
# Logs
###################
*.log

###################
# ENV (IMPORTANT)
###################
backend/.env
frontend/.env

###################
# Laravel
###################
backend/vendor/
backend/node_modules/
backend/public/build/
backend/public/hot
backend/storage/*.key
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php

###################
# Vue / Vite
###################
frontend/node_modules/
frontend/dist/

###################
# IDE
###################
.vscode/
.idea/

###################
# Docker volumes
###################
docker-data/